.container *{
  box-sizing: border-box;
}

.container{
  padding: 5px 20px 15px 20px;
  border: 1px solid rgba(211, 211, 211, 0.775);
  border-radius:4px ;
}


#main{
  width: 100%;
  background-color: #0e82ff;
  padding: 15px 0 20px  0;
  font-size: 30pt;
  color: white;
  border-radius:4px ;
  text-indent: 20px;
  text-align: left;
  position: relative;

}

.searchBox *{
height: 40px;
position: relative;
left: 20px;
margin-top: 5px;
font-size: 17px;
margin-right: 2px;
}


.table td{

  text-align: center;

}

